In [1]:
import pandas as pd

In [12]:
# Load the Excel file into a DataFrame
scotch_data = pd.read_excel('scotch.xlsx', header=[0,1], skipfooter=2)

# Keep the last 15 column names from the second level of the multi-index
last_15_columns = scotch_data.columns.get_level_values(1)[-15:]

# Combine the first two rows into a single header row separated by _
scotch_data.columns = ['_'.join(col) for col in scotch_data.columns]

# Reset the index after dropping rows
scotch_data = scotch_data.reset_index(drop=True)

# Rename the first two columns to 'name1' and 'name2'
scotch_data.rename(columns={scotch_data.columns[0]: 'name1', scotch_data.columns[1]: 'name2'}, inplace=True)

# Reassign the saved column names to the last 15 columns
scotch_data.columns = list(scotch_data.columns[:-15]) + list(last_15_columns)

# Display the dataframe
scotch_data

c:\Python311\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,name1,name2,color_wyne,color_yellow,color_v.pale,color_pale,color_p.gold,color_gold,color_o.gold,color_f.gold,...,DISTRICT,islay,midland,spey,east,west,north,lowland,campbell,islands
0,Aberfeldy,Aberfeldy,0,1,0,0,0,0,0,0,...,MIDLAND,0,1,0,0,0,0,0,0,0
1,Aberlour,Aberlour,0,0,0,0,0,0,0,0,...,SPEY,0,0,1,0,0,0,0,0,0
2,Ardberg,Ardberg,0,0,0,0,0,0,0,0,...,SOUTH,1,0,0,0,0,0,0,0,0
3,Ardmore,Ardmore,0,0,0,0,1,0,0,0,...,SPEY,0,0,1,0,0,0,0,0,0
4,Auchentoshan,Auchentosh,0,0,0,0,1,0,0,0,...,WEST,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Tobermory,Tobermory,0,0,0,0,0,0,0,1,...,MULL,0,0,0,0,0,0,0,0,1
105,Tomatin,Tomatin,0,0,0,0,0,0,0,1,...,SPEY,0,0,1,0,0,0,0,0,0
106,Tomintoul,Tomintoul,0,0,0,0,0,0,0,1,...,SPEY,0,0,1,0,0,0,0,0,0
107,Tormore,Tormore,0,0,0,0,0,0,0,1,...,SPEY,0,0,1,0,0,0,0,0,0
108,Tullibardine,Tullibardi,0,0,0,0,0,1,0,0,...,MIDLAND,0,1,0,0,0,0,0,0,0